.custom-header {
    background: #248f8f;
    color: white;
    text-align: center;
    margin-left: -24px !important;
    margin-top: -24px !important;
    margin-right: -24px !important;
    padding: 13px;
    font-weight: 300 !important;
    margin-bottom: 20px !important;
}